html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container-fluid:first-child, .container-fluid:nth-child(2) {
    padding: 0 284px;
    background: #472424;
    color: #fff;
    font-family: 'Myriad Pro', serif;
    font-size: 15px;
    letter-spacing: 1.5px;
    overflow-y: hidden;
}

.header__menu {
    height: 50px;
}

.header__menu a {
    text-decoration: none;
    color: #fff;
}

.header__items span:not(:first-child) {
    padding-left: 45px;
}

.header__nav {
    text-align: right;
}

.header__nav span:first-child::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    background-size: cover;
    background-image: url(../img/79.png);
}

.header__nav span:nth-child(2) {
    padding-right: 37px;
}

.button {
    width: auto;
    height: 50px;
    padding: 20px;
}

.button:last-child {
    margin-left: 10px;
}

.header__nav span:nth-child(3):hover, .header__nav span:nth-child(4):hover {
    background: #ff7373;
}

.container-fluid:nth-child(2) {
    background: #623232;
}

.current__color {
    color: #ff7373;
}

.nav {
    height: 75px;
    text-align: right;
}

.nav a {
    display: inline-block;
}

.nav a:after {
    display: block;
    content: "";
    height: 5px;
    width: 0;
    position: relative;
    top: 24px;
    background-color: #ff7373;
    transition: width 0.3s ease;
}

.nav .col-2 span:first-child {
    font-size: 30px;
}

.menu__items a {
    text-decoration: none;
    color: inherit;
}

.menu__items span:not(:first-child) {
    padding-left: 27px;
}

.menu__items span:last-child {
    padding-right: 20px;
}

.nav a:hover {
    color: #ff7373;
}

a:hover:after {
    width: 100%;
}

.container-fluid .background {
    margin-top: -70px;
    width: 800px;
    height: 620px;
    background: url(../img/boot.png);
    background-size: cover;
}

.container-fluid:nth-child(3) {
    background: #f0efee;
}

.description div {
    padding: 0;
    margin-top: 25px;
}

.description div:last-child {
    margin-top: 35px;
}

.description div:nth-child(2) {
    margin-top: 20px;
}

.description div:first-child span, .description div:nth-child(2) span {
    color: #623232;
}

.description div:first-child span {
    font-size: 30px;
    padding: 0;
}

.description div:nth-child(2) span {
    font-size: 70px;
    padding: 0;
}

.description div:nth-child(3) span {
    color: #ff7373;
    font-size: 50px;
}

.description div:nth-child(4) span {
    color: #8a8784;
    font-size: 16px;
}

.description div:nth-child(5) span {
    padding: 10px 20px;
    width: 250px;
    text-align: center;
    background: #ff7373;
}

.description div:nth-child(5) span a {
    text-decoration: none;
    color: #fff;
}

.description div span:not(:first-child) {
    margin-top: 25px;
}

.container-fluid:nth-child(4) {
    padding: 0 280px;
    padding-top: 40px;
    position: relative;
}

.bg {
    top: 0;
    left: 200px;
    position: absolute;
    width: 850px;
    height: 500px;
    background: url(../img/bg.png);
    z-index: 1;
}

.good__card {
    position: relative;
    height: 540px;
    width: 540px;
}

.good__card::before {
    content: '';
    position: relative;
    z-index: 3;
    top: 15px;
    left: 50px;
    width: 100px;
    height: 100px;
    display: block;
    background: url(../img/logo.png);
}

.good__card span:first-child {
    font-size: 30px;
    color: #fff;
}

.good__card span:last-child {
    color: #4bd8cd;
    font-size: 30px;
}

.good__card {
    background: #000;
}

.good__card div {
    position: relative;
    z-index: 2;
    left: 170px;
    top: -75px;
    width: 260px;
    text-align: center;
}

.boot__img {
    margin-left: -185px;
}

.collection {
    width: 100px;
    padding: 10px 0;
    background: #4bd8cd;
    margin: 0 20px;
}

.good__card2 {
    background: #ff7373;
    position: relative;
    z-index: 4;
    left: 30px;
    height: 255px;
    padding: 0;
    max-width: 595px;
}

.good__card2::before {
    content: '';
    display: inline-block;
    position: relative;
    top: -20px;
    left: -20px;
    width: 200px;
    height: 275px;
    background: url(../img/boot2.png);
}

.good2__description span {
    color: #fff;
    font-size: 30px;
}

.good2__description {
    width: 65%;
    text-align: center;
    margin-top: 50px;
}

.more {
    padding: 10px 20px;
    background: #623232;
    width: 150px;
    text-align: center;
    position: relative;
    right: 150px;
    bottom: 100px;
}

.more a {
    text-decoration: none;
    color: #fff;
}

.item__img {
    background: #2d2f2e;
    width: 255px;
    height: 255px;
    text-align: center;
    position: relative;
    left: 718px;
    bottom: 255px;
}

.item__img::before {
    content: '';
    position: relative;
    display: inline-block;
    width: 255px;
    height: 200px;
    background: url(../img/boot3.png);
    background-size: cover;
}

.item__img p {
    font-size: 30px;
    color: #fff;
    margin-top: -50px;
}

.item__img span {
    color: #ff7373;
}

.item__img2::after {
    content: '';
    position: relative;
    display: inline-block;
    top: 9px;
    width: 255px;
    height: 200px;
    background: url(../img/boot4.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.item__img2 {
    background: #2d2f2e;
    width: 255px;
    height: 255px;
    text-align: center;
    position: relative;
    left: 800px;
    bottom: 255px;
}

.item__img2 p {
    font-size: 30px;
    color: #6b7072;
}

.item__img2 span {
    color: #fff;
    bottom: 255px;
}

.cat__container {
    text-align: center;
    margin-top: -180px;
}

.cat a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    color: #d0cdca;
    margin-right: 35px;
}

.cat:last-child {
    margin-right: 0;
}

.cat a:hover {
    color: #623232;
}

.container-fluid:nth-child(5) {
    padding: 0 284px;
}

.items__row {
    margin-top: -60px;
}

.item__main {
    border: 1px solid #e0dfde;
    padding: 30px;
    padding-bottom: 10px;
    float: left;
    height: 360px;
}

.item__image:nth-child(2) {
    margin-top: 60px;
}

.item__price span:first-child {
    font-size: 24px;
    color: #ff7373;
}

.item__price span:last-child {
    font-size: 16px;
    color: #8a8784;
    text-decoration: line-through;
}

.item__discount {
    float: right;
    position: relative;
    bottom: 50px;
    background-color: #ff7373;
    padding: 5px 10px;
    left: 30px;
    color: #fff;
}

.item__description {
    margin-top: 50px;
}

.item__description span:first-child {
    font-size: 16px;
    color: #8a8784;
}

.item__description span:last-child {
    font-size: 13px;
    color: #bdb9b5;
}

.fixer {
    z-index: -1;
    position: relative;
    bottom: 60px;
}

.fix {
    margin-top: -60px;
}

.items__row:nth-child(2) .item__col:nth-child(4) .item__image {
    position: relative;
    z-index: -1;
    bottom: 60px;
}

.items__row:nth-child(2) .item__col:nth-child(4) .item__description {
    margin-top: -70px;
}

.items__row:last-child {
    margin-top: 70px;
}

.items__row:last-child .item__col .item__image {
    position: relative;
    z-index: -1;
    bottom: 60px;
}

.items__row:last-child .item__col .item__description {
    margin-top: -80px;
}

.partners {
    margin-top: 90px;
    margin-bottom: 100px;
}

.partners .col:first-child {
    margin-left: 50px;
}

.container-fluid:nth-child(6) {
    padding: 0 284px;
}

.container-fluid:nth-child(7) {
    position: relative;
    padding: 0;
}

.container-fluid:nth-child(7)::before {
    content: '';
    display: inline-block;
    position: absolute;
    background: url(../img/bg_layer.png);
    width: 100%;
    height: 570px;
    left: 0;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.container-fluid:nth-child(7)::after {
    content: '';
    display: inline-block;
    position: relative;
    background: #472424;
    width: 100%;
    max-height: 300px;
    padding: 0;
}

.comment {
    margin-top: 100px;
    margin-bottom: 100px;
}

.author__icon {
    border-radius: 50%;
}

.comment .comment__body:not(:nth-child(2)) .author__icon {
    opacity: 0.5;
}

.comment .comment__body img {
    margin: 0 95px;
}

.rectangle {
    height: 190px;
    background: #593a3a;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
    position: relative;
}

.rectangle::before {
    content: '';
    width: 60px;
    height: 60px;
    display: inline-block;
    background: #593a3a;
    position: absolute;
    bottom: 150px;
    z-index: -0;
    transform: rotate(45deg);
}

.title {
    text-align: center;
    font-size: 30px;
    color: #623232;
}

.container-fluid:nth-child(8) {
    padding: 0 284px;
}

.new {
    width: 400px;
    height: 400px;
    background: #472424;
    margin: 0 auto;
    position: relative;
}

.col-4:first-child .new::before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    display: inline-block;
    background: url(../img/new1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    left: 0;
    top: 0;
}

.col-4:nth-child(2) .new::before {
    content: '';
    width: inherit;
    position: absolute;
    height: inherit;
    display: inline-block;
    background: url(../img/new2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    left: 0;
    top: 0;
}

.col-4:nth-child(3) .new::before {
    content: '';
    width: inherit;
    position: absolute;
    height: inherit;
    display: inline-block;
    background: url(../img/new3.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
}

.new {
    padding: 30px;
}

.comment__text {
    position: absolute;
    bottom: 30px;
}

.comment__text span:first-child {
    font-size: 16px;
    color: #fff;
}

.comment__text span:last-child {
    font-size: 13px;
    color: #ff7373;
}

.comment__text span:last-child::before {
    content: '';
    display: inline-block;
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    background: url(../img/message.png);
}

.space {
    margin-top: 60px;
}

.container-fluid:nth-child(9) {
    background: #ff7373;
    margin-top: 100px;
}

.spacer {
    padding: 70px 284px;
    position: relative;
}

.spacer .col-5 span:first-child {
    font-size: 30px;
    color: #fff;
}

.spacer .col-5 span:last-child {
    font-size: 16px;
    color: #fff;
}

.spacer .col-2 span a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.spacer .col-2 span {
    padding: 10px 18px;
    background: #623232;
}

.spacer .col-5 div span {
    padding-left: 80px;
}

.spacer .col-5 div:before {
    content: '';
    width: 60px;
    height: 42px;
    display: inline-block;
    position: absolute;
    top: 20px;
    background: url(../img/mail.png);
}

.container-fluid:nth-child(10) {
    padding: 0 284px;
    background: #623232;
}

.advantage {
    text-align: center;
}

.advantages {
    padding-top: 110px;
    padding-bottom: 50px;
    border-bottom: 1px solid #000;

}

.advantage span {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.advantage:first-child .img::before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    left: 95px;
    top: -70px;
    background: url(../img/advantage1.png);
}

.advantage:nth-child(2) .img::before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    left: 95px;
    top: -70px;
    background: url(../img/advantage2.png);
}

.advantage:nth-child(3) .img::before {
    content: '';

    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    left: 95px;
    top: -70px;
    background: url('../img/advantage3.png');
}

.advantage:nth-child(4) .img::before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    left: 95px;
    top: -70px;
    background: url(../img/advantage4.png);
}

.advantage:nth-child(5) .img::before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    left: 95px;
    top: -70px;
    background: url(../img/advantage5.png);
}

.advantage:nth-child(6) .img::before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    left: 95px;
    top: -58px;
    background: url(../img/advantage6.png);
    background-repeat: no-repeat;
}

.footer__row .col-2:first-child span {
    font-size: 30px;
    color: #fff;
}

.footer__row {
    padding: 40px 0;
}

.footer__row .col-2:first-child span span {
    color: #ff7373;
}

.footer__row .col-3 span {
    color: #ffffff;
    font-size: 16px;
}

.footer__row .col-2:last-child a img {
    margin-left: 20px;
}

.footer__row .col-2:last-child {
    text-align: right;
}