@media (max-width: 1640px) {
    .search--input {
        width: 380px;
        padding: 8px 8px 8px 15px;
    }

    .header--group {
        margin-left: 35px;
    }

    .header--logo {
        margin-left: 25px;
    }
}

@media (max-width: 1400px) {
    .advertising {
        height: 150px;
    }

    .container--header {
        display: block;
    }

    .flex {
        justify-content: center;
    }

    .header--group {
        margin-bottom: 25px;
        margin-left: 0;
    }
}

@media (max-width: 1350px) {
    .article--author, .article--category, .article--content {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 17px;
    }

    .article--href {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 17px;
    }
}

@media (max-width: 1200px) {
    .article {
        width: 48%;
    }

    .article--author, .article--category, .article--content {
        margin-right: 20px;
        margin-left: 20px;
        font-size: 20px;
    }

    .article--href {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }

    .iframe {
        width: 350px;
        height: 250px;
    }

    @media (max-width: 980px) {
        .article--group {
            display: block;
        }

        .article--author::before {
            left: 0;
        }

        .article {
            height: 550px;
        }

        .article--img {
            height: 180px;
        }
    }
}

@media (max-width: 950px) {
    .container {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 750px) {
    .last {
        margin-left: 20px;
    }

    .container--last::before {
        width: 100px;
        height: 100px;
        flex-shrink: 0;
    }
}

@media (max-width: 700px) {
    .header--logo {
        font-size: 30px;
    }

    .flex::before {
        width: 90px;
        height: 90px;
    }

    .search--input {
        width: 280px;
    }

    .advertising {
        height: 120px;
    }

    .container-line {
        display: block;
    }

    .header .category {
        display: inline-block;
        width: 24%;
        text-align: center;
    }

    .container--line-bottom {
        flex-wrap: wrap;
    }

    .footer--social {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer--text {
        width: 100%;
    }

    .w-100-hidden {
        display: none;
    }

    .insta {
        margin-left: 20px;
        margin-top: 0;
    }

    .youtube {
        margin-top: 0;
    }
}

@media (max-width: 660px) {
    .article--author, .article--category, .article--content {
        margin-right: 10px;
        margin-left: 10px;
        font-size: 17px;
    }

    .article--href {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 17px;
    }

    .footer .category {
        margin-top: 18px;
    }
}

@media (max-width: 550px) {
    .article--author, .article--category, .article--content {
        margin-right: 20px;
        margin-left: 20px;
        font-size: 20px;
    }

    .article--href {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }

    .article {
        width: 100%;
        height: 620px;
    }

    .article--img {
        height: 250px;
    }
}

@media (max-width: 500px) {
    .header--group {
        flex-wrap: wrap;
    }

    .search--form {
        width: 100%;
    }

    .search--input {
        width: 100%;
        margin-bottom: 25px;
    }

    .last {
        font-size: 14px;
    }

    .advertising {
        height: 100px;
    }

    .iframe {
        width: 250px;
        height: 200px;
    }
}

@media (max-width: 400px) {
    .header--logo {
        font-size: 24px;
    }

    .flex::before {
        width: 70px;
        height: 70px;
    }

    .category {
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    .iframe {
        width: 210px;
        height: 180px;
    }
}