body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: #f5f5f5;
}

.flex_row:first-child {
    display: flex;
    padding: 60px 80px 0 100px;
    align-items: center;
}

.logo {
    width: 55px;
    height: 49px;
    background: url(../img/first_logo.png);
    flex-grow: 1;
    background-repeat: no-repeat;
}

.about_us span:not(:first-child) {
    margin-left: 125px;
}

.about_us span {
    color: #ffffff;
    position: relative;
}

.about_us span:last-child {
    padding: 22px 35px;
    background: #ffffff;
    color: #135ec5;
    border-radius: 28px;
}

.about_us span:last-child a {
    text-decoration: none;
    color: #135ec5;
}

.about_us span:first-child::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -50px;
    width: 32px;
    height: 26px;
    background: url(../img/message_icon.png);
}

.about_us span:nth-child(2)::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -50px;
    top: -5px;
    width: 32px;
    height: 32px;
    background: url(../img/phone_icon.png);
}

.about_us span:nth-child(3) {
    margin-left: 66px;
}

.wrapper {
    background: #131210;
}

.search {
    font-size: 30px;
    color: #3c3c3c;
    border: none;
    background: #131210;
    outline: none;
    border-bottom: 2px solid #282726;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-right: 100px;
}

.flex_row:nth-child(2) .form_container {
    text-align: center;
}

.search_btn {
    padding: 20px 70px;
    color: #ffffff;
    background: #135ec5;
    border: none;
    outline: 0;
    border-radius: 28px;
    font-size: 16px;
    margin-bottom: 95px;
}

.heading {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 50px;
}

.bg {
    margin: 120px auto;
    background: url(../img/main_car.png);
    width: 793px;
    height: 490px;
    background-repeat: no-repeat;
}

.flex_brands{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 176px;
    padding-bottom: 60px;
}

.our_brands p {
    text-align: center;
    margin: 60px;
    font-size: 18px;
    color: #c1c1c1;
}

.car_description::before {
    content: '';
    min-width: 524px;
    height: 286px;
    margin: 0 10%;
    position: relative;
    z-index: 2;
    display: inline-block;
    background: url(../img/bmw.png);
    background-size: cover;
    background-position: center center;
}

.car_description span:first-child {
    font-size: 60px;
    color: #135ec5;
}

.lorem {
    font-size: 16px;
    color: #c1c1c1;
    line-height: 36px;
    margin-top: 64px;
}

.car_description div {
    margin-left: 80px;

}

.car_description {
    display: flex;
}

.announcement {
    background: #135ec5;
    text-align: center;
    margin-top: 150px;
    max-height: 540px;
    margin-bottom: 258px;
}

.announcement p {
    font-size: 60px;
    color: #ffffff;
    padding-top: 160px;
    margin-bottom: 87px;
}

.announcement button {
    padding: 20px 60px;
    border: 2px solid #fff;
    background: #135ec5;
    border-radius: 28px;
    font-size: 16px;
    color: #ffffff;
    display: block;
    margin: 0 auto;
}

.announcement::after {
    content: '';
    display: inline-block;
    min-width: 624px;
    min-height: 236px;
    margin-top: 60px;
    background: url(../img/bmw2.png);
    background-size: cover;
}

.wrap {
    width: 450px;
    height: 200px;
    background: #135ec5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.suggestions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
    flex-wrap: wrap;
}

.suggestion:first-child {
    width: 450px;
    position: relative;
    border: 1px solid silver;
    padding-bottom: 40px;
}

.suggestion:first-child .wrap span:first-child {
    float: right;
    padding: 8px 18px;
    background: #ffffff;
    color: #135ec5;
    font-size: 14px;
    position: absolute;
    right: 50px;
    top: 50px;
    border-radius: 28px;
}

.suggestion:first-child::before {
    content: '';
    display: block;
    width: 280px;
    height: 162px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    background: url(../img/suggestion1.png);
}

.suggestion:first-child p {
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}

.suggestion:first-child p:nth-of-type(2) {
    text-align: center;
    margin-top: 15px;
    color: #135ec5;
    font-size: 14px;
}

.suggestion:first-child p:nth-last-child(2) {
    text-align: center;
    color: #c1c1c1;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn span {
    color: #16ad2c;
    font-size: 30px;
}

.btn button {
    padding: 17px 40px;
    font-size: 18px;
    color: #ffffff;
    background:  #e2e2e2;
    border-radius: 28px;
    border: none;
}

.suggestion:last-child {
    display: flex;
    border: 1px solid silver;

}

.container_left {
    float: left;
    max-width: 500px;
    margin-right: 65px;
    padding-top: 70px;
    padding-left: 60px;
}

.top_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_items span:first-child {
    font-size: 16px;
    color: #e2e2e2;
}

.top_items span:last-child {
    font-size: 30px;
    color: #16ad2c;
}

.description p:first-child {
    margin-top: 140px;
    font-size: 30px;
    color: #135ec5;
}

.description span {
    font-size: 16px;
    background: #135ec4;
    color: #ffffff;
    padding: 20px 55px;
    border-radius: 28px;

}

.description p:last-of-type {
    line-height: 36px;
    color: #c1c1c1;
    font-size: 16px;
    padding-right: 100px;
    margin-bottom: 80px;
}

.container_right {
    float: right;
    position: relative;
    min-width: 440px;
    display: flex;
    align-items: center;
}


.container_right::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -15%;
    right: 0;
    height: 362px;
    background: url(../img/suggestion2.png);
    background-repeat: no-repeat;
}

.container_right::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100%;
    top: 0;
    background: #135ec4;
}

.container_right span {
    float: right;
    padding: 8px 18px;
    background: #ffffff;
    color: #135ec5;
    font-size: 14px;
    position: absolute;
    right: 50px;
    top: 50px;
    border-radius: 28px;
}

.footer_container {
    margin: 0 255px;
    background: #ffffff;
    padding-top: 70px;
}

.form_footer_container {
    display: flex;
    justify-content: space-around;
}

.form_footer_container input {
    font-size: 18px;
    color: #000000;
    border: none;
    background: #ffffff;
    outline: none;
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-right: 100px;
    margin-bottom: 70px;
}

.form_footer_container input:last-child {
    margin-right: 0;
}

.our_brands:last-child {
    padding-top: 46px;
    border-top: 2px solid #ebebeb;
}

.flex_brands:last-child {
    border-bottom: none;
    margin-bottom: 90px;
}

.advanced_search {
    background: #135ec5;
    margin-top: 75px;
}

.advanced_search .form_footer_container:first-child {
    padding-top: 60px;
}

.advanced_search .form_footer_container input {
    background: #135ec5;
    color: #ffffff;
}

.advanced_search .form_footer_container input::placeholder {
    color: rgba(255,255,255,0.6);
}

.advanced_search span {
    font-size: 16px;
    color: #135ec5;
    padding: 21px 66px;
    background: #ffffff;
    border-radius: 28px;
}

.advanced_search {
    text-align: center;
    padding-bottom: 60px;
    margin-bottom: 175px;
}

.advanced_search::before {
    content: 'Hide advanced search';
    padding: 20px 25px;
    background: #135ec5;
    color: #ffffff;
    position: relative;
    bottom: 10px;
    border-radius: 28px;
}