@media (max-width: 1620px) {
    .header--row {
        padding-left: 6%;
        padding-right: 6%;
    }

    .header--container {
        padding-left: 6%;
    }

    .header--row::after {
        left: 6%;
    }

    .btn {
        margin-right: 0;
    }

    .main--col::after {
        display: none;
    }

    .row--features {
        padding-left: 6%;
        padding-right: 6%;
    }
}

@media (max-width: 1430px) {
    .main--heading, .heading-white {
        font-size: 45px;
    }


}

@media (max-width: 1300px) {
    .header--container::before {
        width: 450px;
        height: 450px;
        left: calc(62% - 225px);
        top: calc(50% - 225px);
    }

    .header::after {
        width: 580px;
        height: 300.4px;
        left: calc(62% - 280px);
        top: calc(50% - 100px);
    }

    .main--col:first-child {
        display: none;
    }

    .main--col-big {
        width: 100%;
    }
}

@media (max-width: 1160px) {
    .header--container::before {
        position: relative;
        float: right;
        left: 0;
        bottom: 200px;
        display: inline-block;
    }

    .row--journey::before {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        width: 100%;
    }

    .row--button-light {
        margin-bottom: 100px;
    }

    .footer--row {
        height: 400px;
    }

    .row--journey {
        height: 850px;
    }

    .header {
        overflow: hidden;
        min-height: 700px;
    }

    .header::before {
        min-height: 500px;
    }

    .header::after {
        top: 30%;
        left: 53%;
        overflow-x: hidden;
    }

    .row--generation::after {
        display: none;
    }

    .row--container {
        margin-left: 3%;
    }

    .heading-big {
        width: auto;
        font-size: 50px;
    }

    .row--generation::before {
        background-position: right;
        background-size: cover;

    }

    .container--heading {
        display: flex;
        flex-direction: column;
    }

    .heading-white {
        margin-left: 3%;
    }

    .row--generation2 {
        padding-left: 6%;
    }
}

@media (max-width: 1060px) {
    .footer--row::after {
        font-size: 150px;
    }
}

@media (max-width: 1000px) {
    .header::after {
        left: 48%;
    }
}

@media (max-width: 925px) {
    .header--container::before {
        width: 330px;
        height: 330px;
        bottom: 100px;
    }

    .header::after {
        width: 410px;
        height: 240px;
        top: 40%;
        left: 55%;
    }
}

@media (max-width: 950px) {
    .row--generation2::after {
        background-size: 110%;
        width: auto;
        height: auto;
        min-height: 300px;
        min-width: 300px;
        background-repeat: no-repeat;
    }
}

@media (max-width: 768px) {
    .header::after {
        display: none;
    }

    .footer--row::after {
        font-size: 120px;
    }

    .footer--row {
        height: 300px;
    }

    .header--container::before {
        display: none;
    }

    .row--generation {
        justify-content: center;
        padding: 40px 0;
    }

    .row--container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button {
        margin-top: 50px;
    }

    .row--generation::before {
        display: none;
    }

    .row--container {
        margin: 0;
    }

    .row--features {
        display: block;
    }

    .card {
        width: 50%;
    }

    .card:nth-child(1) {
        float: left;
    }

    .card:nth-child(2) {
        float: right;
    }

    .card:nth-child(2)::after {
        content: " ";
        clear: both;
        display: table;
    }


    .card:nth-child(3) {
        float: right;
        margin-top: 0;
    }

    .card:nth-child(4) {
        float: none;
    }
}

@media (max-width: 680px) {
    .row--generation2::after {
        min-width: 230px;
        min-height: 230px;
    }

    .heading-black {
        font-size: 40px;
    }

    .heading-white {
        font-size: 40px;
    }

    .footer--row::after {
        font-size: 100px;
    }

    .row--journey {
        margin-top: 80px;
    }
}

@media (max-width: 555px) {
    .heading-big {
        text-align: center;
    }

    .heading-black {
        text-align: left;
    }
}

@media (max-height: 900px) {
    .header--container {
        bottom: 150px;
    }

    .header--container::before {
        bottom: 100px;
    }
}

@media (max-width: 480px) {
    .header--row {
        display: block;
        padding-top: 30px;
    }

    .footer--row::after {
        display: none;
    }

    .card {
        width: 100%;
        margin-top: 60px;
    }

    .header--phone {
        margin-top: 60px;
    }

    .header--offer {
        z-index: 10;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .row--features {
        display: flex;
        flex-direction: column;
    }

    .card--text {
        margin-top: 30px;
        margin-bottom: 60px !important;
    }

    .card--text-small {
        margin-bottom: 125px !important;
    }

    .card--text:last-child {
        margin-bottom: 125px;
    }

    .card:not(:first-child) {
        margin: 0;
    }

    .row--generation2 {
        display: block;
    }

    .row--generation2::after {
        float: right;
        margin-top: 50px;
    }

    .row--generation2 div {
        text-align: center;
    }

    .row--generation2 {
        padding-left: 1.5%;
    }

    .hide {
        display: none;
    }

    .heading:not(.heading-small):not(.container--heading) {
        font-size: 30px !important;
    }

    .heading-black {
        text-align: center;
    }

    .header--row::after {
        left: 0;
    }

    .row--heading-big {
        font-size: 35px;
    }

    .row--journey {
        height: 550px;
        margin-top: 0;
    }

    .row--journey::before {
        height: 550px;
    }

    .row--button-light {
        margin-bottom: 30px;
        margin-top: 40px;
    }

    .button, .btn {
        padding: 16px 28px;
    }

    .footer--row {
        height: 220px;
    }
}

@media (max-width: 470px) {
    .header--phone {
        margin-left: -6%;
    }

    .header--offer::after {
        margin-left: 15px;
    }
}

@media (max-width: 430px) {
    .container--heading, .container--text {
        margin-left: 30px;
    }

    .heading-white {
        font-size: 35px;
    }

    .header--phone {
        margin-left: -12%;
    }

    .container--heading {
        font-size: 50px;
    }

    .header--row {
        padding-right: 10px;
    }
}

@media (max-width: 390px) {
    .header--phone {
        margin-left: -20%;
    }
}

@media (max-width: 350px) {
    .header--phone {
        margin-left: -28%;
    }
}

@media (max-width: 600px) {
    .main--col-big {
        background-position: center;
    }
}

@media (max-width: 359px) {
    .heading-white {
        font-size: 30px;
    }

    .header--offer {
        font-size: 14.5px;
    }
}