@font-face {
    font-family: "Poppins";
    src: url(../font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins - Bold";
    src: url(../font/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins - Italic";
    src: url(../font/Poppins-Italic.ttf);
}