@media (max-width: 1500px) {
    .plain__padding {
        padding-left: 13%;
        padding-right: 13%;
    }

    .slogan__inner {
        padding-left: 15%;
    }
}

@media (max-width: 1200px) {
    .plain__padding {
        padding-left: 9%;
        padding-right: 9%;
    }

    .slogan__inner {
        padding-left: 11%;
    }
}

@media (max-width: 950px) {
    .plain__padding {
        padding-left: 7%;
        padding-right: 7%;
    }

    .slogan__inner {
        padding-left: 9%;
    }

    .good__name {
        padding-left: 12px;
        padding-right: 12px;
    }

    .menu__item {
        margin-right: 20px;
    }

    .menu__item:first-child {
        margin-right: 20px;
    }

    .line {
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .good__row {
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
        justify-content: center;
    }

    .good {
        width: 47%;
        margin-right: 0;
        margin-left: 0;
    }

    .good__first {
        margin-right: 6%;
    }

    .good:last-child {
        margin-top: 6%;
    }

    .brands {
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-around;
    }

    .brand {
        width: 30%;
    }

    .brand:nth-child(4) {
        margin-top: 5%;
        margin-left: 17.5%;
    }

    .brand:nth-child(5) {
        margin-top: 5%;
        margin-right: 17.5%;
    }

    .slogan__main {
        font-size: 35px;
    }

    .slogan__main_small {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .good__line {
        width: 22%;
    }

    .slogan {
        background: url(../img/woman__full.jpg);
        padding-top: 68.304%;
        background-size: cover;
    }
}

@media (max-width: 666px) {
    .menu__item {
        display: none;
    }

    .menu__item_cart {
        display: none;
    }

    .line {
        display: none;
    }

    .logo {
        display: inline;
        flex-grow: 1;
    }

    .menu__bars {
        display: block;
        font-size: 25px;
    }

    .menu__wrap {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer__menu1 {
        max-width: 45%;
    }

    .footer__menu3 {
        max-width: 40%;
    }

    .footer__menu2 {
        max-width: 100%;
        margin-top: 50px;
    }

    .footer__menu2 {
        order: 3;
    }
}

@media (max-width: 600px) {
    .slogan__main {
        font-size: 28px;
    }

    .slogan__main_small {
        font-size: 18px;
    }

    .btn {
        font-size: 16px;
        padding: 15px 30px;
    }
}

@media (max-width: 550px) {
    .good {
        width: 100%;
        margin-bottom: 40px;
    }

    .good:last-child {
        margin-bottom: 0;
    }

    .good__first {
        margin-right: 0;
    }

    .good__img {
        width: 55%;
    }
}

@media (max-width: 400px) {
    .slogan__main {
        font-size: 22px;
    }

    .slogan__main_small {
        font-size: 16px;
    }
}